agentBackend/src/main/resources/wsdl/message.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.megatravel.com/message" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.megatravel.com/message" targetNamespace="http://www.megatravel.com/message">
    <wsdl:types>
        <xs:schema xmlns:me="http://www.megatravel.com/message" xmlns:us="http://www.megatravel.com/users" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/message">
            <xs:import namespace="http://www.megatravel.com/users" schemaLocation="Users.xsd"/>
            <xs:complexType name="Message">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="agent_un" type="xs:string"/>
                    <xs:element name="endUser_un" type="xs:string"/>
                    <xs:element name="content" type="xs:string"/>
                    <xs:element name="messageStatus" type="me:messageStatus"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="messageStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Deliviered"/>
                    <xs:enumeration value="Seen"/>
                    <xs:enumeration value="Unknown username"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="sendMessageRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="recipientUsername" type="xs:string"/>
                        <xs:element name="content" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendMessageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="me:messageStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sendMessageResponse">
        <wsdl:part element="tns:sendMessageResponse" name="sendMessageResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendMessageRequest">
        <wsdl:part element="tns:sendMessageRequest" name="sendMessageRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MessagesPort">
        <wsdl:operation name="sendMessage">
            <wsdl:input message="tns:sendMessageRequest" name="sendMessageRequest">
    </wsdl:input>
            <wsdl:output message="tns:sendMessageResponse" name="sendMessageResponse">
    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MessagesPortSoap11" type="tns:MessagesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendMessage">
            <soap:operation soapAction=""/>
            <wsdl:input name="sendMessageRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendMessageResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MessagesPortService">
        <wsdl:port binding="tns:MessagesPortSoap11" name="MessagesPortSoap11">
            <soap:address location="http://localhost:8081/booking"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>